# Notebook for combining data of years 2012-2014

In [1]:
import pandas as pd

#SAS file locations
df2012 = pd.read_sas("..\\data\\sas Xport files\\LLCP2012.XPT", encoding = "ISO-8859-1")
df2013 = pd.read_sas("..\\data\\sas Xport files\\LLCP2013.XPT", encoding = "ISO-8859-1")
df2014 = pd.read_sas("..\\data\\sas Xport files\\LLCP2014.XPT", encoding = "ISO-8859-1")

In [2]:
import pandas as pd

#SAS file locations
sas_files = ["..\\data\\sas Xport files\\LLCP2012.XPT", 
             "..\\data\\sas Xport files\\LLCP2013.XPT",
             "..\\data\\sas Xport files\\LLCP2014.XPT"]

cols_to_read = ['_AGE65YR', 'GENHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 
                'EXERANY2', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 
                'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD1', 
                'HAVARTH3', 'ADDEPEV2', 'CHCKIDNY',  
                'USEEQUIP', 'SMOKE100', 'SMOKDAY2', 'STOPSMK2', 'LASTSMK2', 
                'USENOW3', '_INCOMG', 'INCOME2', '_IMPRACE']

df12_14 = pd.DataFrame()
for sas_file in sas_files:
    df = pd.read_sas(sas_file, encoding = "ISO-8859-1")
    df12_14 = pd.concat([df12_14, df[cols_to_read]])
    print("Completed: ", sas_file)
    del df

df12_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432124 entries, 0 to 464663
Data columns (total 27 columns):
_AGE65YR    1432124 non-null float64
GENHLTH     1432109 non-null float64
HLTHPLN1    1432122 non-null float64
PERSDOC2    1432122 non-null float64
MEDCOST     1432121 non-null float64
CHECKUP1    1432121 non-null float64
EXERANY2    1400796 non-null float64
CVDINFR4    1432122 non-null float64
CVDCRHD4    1432124 non-null float64
CVDSTRK3    1432124 non-null float64
ASTHMA3     1432124 non-null float64
ASTHNOW     189403 non-null float64
CHCSCNCR    1432116 non-null float64
CHCOCNCR    1432121 non-null float64
CHCCOPD1    1432111 non-null float64
HAVARTH3    1432119 non-null float64
ADDEPEV2    1432121 non-null float64
CHCKIDNY    1432120 non-null float64
USEEQUIP    1402771 non-null float64
SMOKE100    1395812 non-null float64
SMOKDAY2    622351 non-null float64
STOPSMK2    218909 non-null float64
LASTSMK2    402083 non-null float64
USENOW3     1394410 non-null float64
_INCOMG     1432124 non-null float64
INCOME2     1426267 non-null float64
_IMPRACE    1432124 non-null float64
dtypes: float64(27)
memory usage: 305.9 MB

In [6]:
cols_to_read = ['_AGE65YR', 'GENHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 
                'EXERANY2', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 
                'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD1', 
                'HAVARTH3', 'ADDEPEV2', 'CHCKIDNY',  
                'USEEQUIP', 'SMOKE100', 'SMOKDAY2', 'STOPSMK2', 'LASTSMK2', 
                'USENOW3', '_INCOMG', 'INCOME2', '_IMPRACE']

# Removed below due to uncommon fields
# ['SLEPTIM1' 'BLIND' 'DECIDE' 'DIFFWALK' 'DIFFDRES' 'DIFFALON' '_IMPMRTL'] not in index
# "['LASTDEN3' 'RMVTETH3'] not in index"

df12_14 = pd.concat([df2012[cols_to_read],df2013[cols_to_read],df2014[cols_to_read]])

df12_14.to_csv('.\\data\\brfss2012_2014.csv', index=False)

# Free up memory
#del df2012, df2013, df2014, df12_14

# put in zip file
import zipfile, zlib

print('creating archive')
zf = zipfile.ZipFile('.\\data\\brfss2012_2014.zip', mode='w')
try:
    print('adding brfss2012_2014.csv')
    zf.write('.\\data\\brfss2012_2014.csv',  compress_type=zipfile.ZIP_DEFLATED)
finally:
    print('closing')
    zf.close()


# Test
df = pd.read_csv('brfss2012_2014.zip', encoding = "ISO-8859-1", compression='zip')
print(df.shape)
df.head()

creating archive
adding brfss2012_2014.csv
closing
(1432124, 27)

,_AGE65YR,GENHLTH,HLTHPLN1,PERSDOC2,MEDCOST,CHECKUP1,EXERANY2,CVDINFR4,CVDCRHD4,CVDSTRK3,...,CHCKIDNY,USEEQUIP,SMOKE100,SMOKDAY2,STOPSMK2,LASTSMK2,USENOW3,_INCOMG,INCOME2,_IMPRACE
0,1.0,3.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,NaN,NaN,NaN,3.0,4.0,6.0,1.0
1,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,NaN,NaN,NaN,3.0,5.0,8.0,1.0
2,2.0,4.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,...,1.0,1.0,1.0,3.0,NaN,7.0,3.0,9.0,99.0,2.0
3,2.0,3.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,NaN,NaN,NaN,3.0,2.0,3.0,1.0
4,1.0,4.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,NaN,NaN,NaN,3.0,9.0,99.0,1.0

In [7]:
del df2012, df2013, df2014

In [9]:
brfss = pd.read_csv('brfss2012_2014.zip', encoding = "ISO-8859-1", compression='zip')
print("Starting lenght is: ", len(brfss))

# Age 18 to 64 - Excludes 65 or older, refused, or missing
brfss = brfss[brfss['_AGE65YR'] == 1] 

# Exclude blank, 'Don't know', 'Not Sure', or 'Refused'
brfss = brfss[((brfss['GENHLTH'].notnull()) & (~brfss['GENHLTH'].isin([7,9])))] 

# Reduce Ethnicity to White, Black, or Hispanic (ex. Asian 2%, American Indian/Alaskan Native 1.55%, other 2.8%)
brfss = brfss[brfss['_IMPRACE'].isin([1,2,5])]
# Has Health plan --Excludes 'Don't know', 'Not Sure', or 'Refused'. drops .6%
brfss = brfss[brfss['HLTHPLN1'].isin([1,2])]

# Translate GENHLTH to binary classification of
# Combining the “excellent”, “very good” and “good” responses as measures of “good or better” (1) health 
# and the “fair” and “poor” measures as “fair and poor” (0).
brfss.loc[(brfss['GENHLTH'] < 4), '_Health'] = 1
brfss.loc[(brfss['GENHLTH'] >= 4), '_Health'] = 0

brfss.info()

Starting lenght is:  1432124
<class 'pandas.core.frame.DataFrame'>
Int64Index: 867987 entries, 0 to 1432123
Data columns (total 28 columns):
_AGE65YR    867987 non-null float64
GENHLTH     867987 non-null float64
HLTHPLN1    867987 non-null float64
PERSDOC2    867986 non-null float64
MEDCOST     867984 non-null float64
CHECKUP1    867985 non-null float64
EXERANY2    848814 non-null float64
CVDINFR4    867985 non-null float64
CVDCRHD4    867987 non-null float64
CVDSTRK3    867987 non-null float64
ASTHMA3     867987 non-null float64
ASTHNOW     120875 non-null float64
CHCSCNCR    867983 non-null float64
CHCOCNCR    867987 non-null float64
CHCCOPD1    867981 non-null float64
HAVARTH3    867984 non-null float64
ADDEPEV2    867985 non-null float64
CHCKIDNY    867983 non-null float64
USEEQUIP    851069 non-null float64
SMOKE100    847083 non-null float64
SMOKDAY2    359144 non-null float64
STOPSMK2    161152 non-null float64
LASTSMK2    197171 non-null float64
USENOW3     846261 non-null float64
_INCOMG     867987 non-null float64
INCOME2     864423 non-null float64
_IMPRACE    867987 non-null float64
_Health     867987 non-null float64
dtypes: float64(28)
memory usage: 192.0 MB