# Notebook for combining data of years 2012-2014

In [5]:
import pandas as pd

#SAS file locations
sas_files = ["..\\data\\sas Xport files\\LLCP2012.XPT", 
             "..\\data\\sas Xport files\\LLCP2013.XPT",
             "..\\data\\sas Xport files\\LLCP2014.XPT"]

cols_to_read = ['SEQNO', '_INCOMG',  '_IMPRACE', '_AGE65YR', 'GENHLTH', 
                'MENTHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'VETERAN3', 
                'MARITAL', 'EDUCA', 'CHECKUP1', 'INCOME2', 'SEX', 
                'SMOKDAY2', 'AVEDRNK2', 'RRCLASS2', 'RRATWRK2', 'RRHCARE3', 
                'RRPHYSM2', 'RREMTSM2', 'EXERANY2', 'CVDINFR4', 
                'CVDCRHD4', 'CVDSTRK3', 'SCNTPAID', 
                'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD1', 
                'HAVARTH3', 'ADDEPEV2', 'CHCKIDNY', 'USEEQUIP', 'SMOKE100',  
                'STOPSMK2', 'LASTSMK2', 'USENOW3']

# Removed below due to uncommon fields
# ['_AGE80' 'PYSHLTH' 'EMPLOY1' 'SCNTMEL1' 'SXORIENT' 'TRNDGNDR'] not in index
# ['SLEPTIM1' 'BLIND' 'DECIDE' 'DIFFWALK' 'DIFFDRES' 'DIFFALON' '_IMPMRTL'] not in index
# "['LASTDEN3' 'RMVTETH3'] not in index"

df12_14 = pd.DataFrame()
for sas_file in sas_files:
    df = pd.read_sas(sas_file, encoding = "ISO-8859-1")
    df12_14 = pd.concat([df12_14, df[cols_to_read]])
    print("Completed: ", sas_file)
    del df

df12_14.info()

Completed:  ..\data\sas Xport files\LLCP2012.XPT
Completed:  ..\data\sas Xport files\LLCP2013.XPT
Completed:  ..\data\sas Xport files\LLCP2014.XPT
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432124 entries, 0 to 464663
Data columns (total 40 columns):
SEQNO       1432124 non-null float64
_INCOMG     1432124 non-null float64
_IMPRACE    1432124 non-null float64
_AGE65YR    1432124 non-null float64
GENHLTH     1432109 non-null float64
MENTHLTH    1432114 non-null float64
HLTHPLN1    1432122 non-null float64
PERSDOC2    1432122 non-null float64
MEDCOST     1432121 non-null float64
VETERAN3    1431093 non-null float64
MARITAL     1430329 non-null float64
EDUCA       1429383 non-null float64
CHECKUP1    1432121 non-null float64
INCOME2     1426267 non-null float64
SEX         1432124 non-null float64
SMOKDAY2    622351 non-null float64
AVEDRNK2    685267 non-null float64
RRCLASS2    54698 non-null float64
RRATWRK2    28904 non-null float64
RRHCARE3    54581 non-null float64
RRPHYSM2    54523 non-null float64
RREMTSM2    54490 non-null float64
EXERANY2    1400796 non-null float64
CVDINFR4    1432122 non-null float64
CVDCRHD4    1432124 non-null float64
CVDSTRK3    1432124 non-null float64
SCNTPAID    66396 non-null float64
ASTHMA3     1432124 non-null float64
ASTHNOW     189403 non-null float64
CHCSCNCR    1432116 non-null float64
CHCOCNCR    1432121 non-null float64
CHCCOPD1    1432111 non-null float64
HAVARTH3    1432119 non-null float64
ADDEPEV2    1432121 non-null float64
CHCKIDNY    1432120 non-null float64
USEEQUIP    1402771 non-null float64
SMOKE100    1395812 non-null float64
STOPSMK2    218909 non-null float64
LASTSMK2    402083 non-null float64
USENOW3     1394410 non-null float64
dtypes: float64(40)
memory usage: 448.0 MB

In [6]:
# Write large csv first
df12_14.to_csv('.\\data\\brfss2012_2014.csv', index=False)

# Compress large csv in zip file to allow efficient sharing of data
import zipfile, zlib

print('creating archive')
zf = zipfile.ZipFile('.\\data\\brfss2012_2014.zip', mode='w')
try:
    print('adding brfss2012_2014.csv')
    zf.write('.\\data\\brfss2012_2014.csv',  compress_type=zipfile.ZIP_DEFLATED)
finally:
    print('closing')
    zf.close()


# Test
df = pd.read_csv('.\\data\\brfss2012_2014.zip', encoding = "ISO-8859-1", compression='zip')
print(df.shape)
df.head()

creating archive
adding brfss2012_2014.csv
closing
(1432124, 40)

,SEQNO,_INCOMG,_IMPRACE,_AGE65YR,GENHLTH,MENTHLTH,HLTHPLN1,PERSDOC2,MEDCOST,VETERAN3,...,CHCOCNCR,CHCCOPD1,HAVARTH3,ADDEPEV2,CHCKIDNY,USEEQUIP,SMOKE100,STOPSMK2,LASTSMK2,USENOW3
0,2.012001e+09,4.0,1.0,1.0,3.0,88.0,1.0,1.0,2.0,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,3.0
1,2.012001e+09,5.0,1.0,1.0,1.0,88.0,1.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,3.0
2,2.012001e+09,9.0,2.0,2.0,4.0,2.0,1.0,1.0,2.0,2.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,7.0,3.0
3,2.012001e+09,2.0,1.0,2.0,3.0,88.0,1.0,1.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,3.0
4,2.012001e+09,9.0,1.0,1.0,4.0,88.0,1.0,1.0,2.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,3.0